body{
    background-color: powderblue;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    padding: 15px;
    /* background-color: azure; */
}
input[type = text],
input[type=password] {
    width:auto;
    height: 10%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #f1f1f1;
}
.registerbtn {
    background-color: green;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    cursor:pointer;
    width: auto;
    opacity: 0.9;
}
